.tableUsers{
    display: table;
    width: 90%;
    margin: 85px 5%;
    background: #29292900;
    vertical-align: middle;
    border-radius: 10px;
}

.profileImg{
    max-width: 75px; 
    max-height: 75px;
}